html
  box-sizing: border-box

*,
*::before,
*::after
  box-sizing: inherit

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  background: transparent

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote::before, blockquote::after,
q::before, q::after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-family: Tahoma, arial, verdana

p
  margin-bottom: 10px

a
  color: inherit
  text-decoration: none
  font-weight: bold

.grid
  display: flex
  flex-wrap: wrap
  align-items: center

.area-group
  width: 100%
  font-size: 20px
  color: #fff
  height: 100vh

.area
  justify-content: center
  position: relative
  cursor: pointer
  width: 33.33333%
  height: 50vh
  overflow: hidden

  &:nth-child(odd)
    background: #2c2c2b

  &:nth-child(even)
    background: #fff
    color: #2c2c2b

  &:before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    /**
     * teste para um overlay.
     */
    background: url(http://s3.amazonaws.com/agile_designer_uploads/images/145/large.jpg?1374128699) no-repeat
    background-size: cover
    opacity: 0
    z-index: 2

  &:hover,
  &:focus
    &:before
      opacity: .2

    .area-content
      color: #fff

    .area-video
      opacity: 1

.area-video
  position: absolute
  top: 0
  left: 0
  opacity: 0
  transition: all .8s ease

  video
    height: 100%

.area-content
  text-align: center
  font-family: 'Inconsolata'
  color: #F6266C
  position: relative
  z-index: 3

.content-group
  display: none
  height: 100vh
  background-size: 100%
  background-attachment: fixed

  &:nth-child(odd)
    justify-content: flex-end

.content
  width: 50%
  height: 100vh
  padding: 10px

.extra
  align-items: center
  flex-direction: column
  font-size: .7em
  color: lighten(#2c2c2b, 50%)
  padding: 10px
  background: #2c2c2b

  *
    width: 100%

  p:last-child
    margin: 0
